body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}
svg {
  width: 100%;
  height: 100%;
  background: white;
}

.site {
  fill: white;
  stroke: balck;
}
.cell {
  /*fill: none;*/
  stroke: #777;
  stroke-width: 1;
}
